{% extends 'markitten_app/index.html' %}
{% load static %} 

{% block content %}

    <div class="row">
        <div class="col-md-5" style="padding: 80px; padding-left: 13%;" id="slide-in-left">
            <h2>Change Password</h2>
            <br>
            <h5>Password Guidelines:</h5>
            <br>
            <i class="bi bi-check-lg">Must be at least 8 characters.</i>
            <br>
            <i class="bi bi-check-lg">Cannot be too similar with other personal information.</i>
            <br>
            <i class="bi bi-check-lg">Cannot be a commonly used password.</i>
            <br>
            <i class="bi bi-check-lg">Cannot be entirely numeric.</i>
            <br>
            <img src="{% static 'images/waiting.png' %}" alt="" width="90%" style="margin: 15px auto auto 50px;">
        </div>
        <div class="col-md-6" style="padding: 60px 20px 60px 60px; background-color: beige; margin: 50px;" id="fade-in">
            <form action="{% url 'changepassword' %}" method="post">
                {% csrf_token %}
                {% for error in form.non_field_errors %}

                <div class="alert alert-danger">
                    {{error}}
                </div>

                {% endfor %}


                {% for field in form %}

                <div class="mb-3">
                    <div class="d-grid gap-2 col-11 d-md-block">
                        {{ field.label }}
                        {{ field }}
                    </div>
                </div>

                {% if field.errors %}

                <div class="alert alert-danger">
                    {{ field.errors }}
                </div>

                {% endif %}

                {% endfor %}

                <!--<div class="mb-3">
                    <div class="d-grid gap-2 col-11 d-md-block">
                        <label for="staticEmail" class="col-form-label">Confirm Email</label>
                        <input type="text" class="form-control" id="staticEmail" required>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="d-grid gap-2 col-11 d-md-block">
                        <label for="inputPassword" class="col-form-label">New Password</label>
                        <input type="password" class="form-control" id="inputPassword" required>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="d-grid gap-2 col-11 d-md-block">
                        <label for="confirmPassword" class="col-form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" required>
                    </div>
                </div>
                <br> -->
                <div class="d-grid gap-2 col-2 mx-auto">
                    <button type="submit" class="btn btn-primary" style="margin-bottom: 10px">Save</button>
                    <h6 style="text-align: center;">
                        <a href="{% url 'profile' %}" class="simpleLink">
                            Cancel
                        </a>
                    </h6>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}