{% extends 'markitten_app/index.html' %}
{% load static %}

{% block content %}

<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-lg-4" id="fade-in">
            <div class="card" style="width: 20rem; background-color: beige; margin-left: 20px;">
                <img src="{{user.profile.image.url}}" alt="" height="350px" width="auto">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">Hello, {{user.username}}!</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="text-align: center;">
                        <a href="{% url 'customersearch' %}" class="simpleLink">
                            <i class="fa fa-edit"></i>
                            Customer Search
                        </a>
                    </li>
                    <li class="list-group-item" style="text-align: center;">
                        <a href="{% url 'customerlocation' %}" class="simpleLink">
                            <i class="bi bi-file-earmark-lock"></i>
                            Customer Filter by Location
                        </a>
                    </li>
                    <li class="list-group-item" style="text-align: center;">
                        <a href="{% url 'productrating' %}" class="simpleLink">
                            <i class="bi bi-star-half"></i>
                            Product Ratings
                        </a>
                    </li>
                    <li class="list-group-item" style="text-align: center;">
                        <a href="{% url 'totalcustomers' %}" class="simpleLink">
                            <i class="bi bi-exclamation-diamond-fill"></i>
                            Display Customer Count
                        </a>
                    </li>
                    <li class="list-group-item" style="text-align: center;">
                        <a href="{% url 'logout' %}" class="simpleLink">
                            <i class="fa fa-sign-out"></i>
                            Logout
                        </a>
                    </li>

                </ul>
                <!-- <div class="card-body">
                        <a href="Home.html" class="card-link simpleLink">
                            < View Monthly Catalog</a>
                    </div> -->
            </div>
            <!-- <img src="{% static 'images/waiting.png' %}" alt="" width="80%" style="margin-left: 10%;"> -->
        </div>
        <div class="col-lg-8">
            <br>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right"
                title="You may view, create, update, or delete customer/s here." style="float: right;">
                Guide
            </button>
            <h4>Find customers here.</h4>

            Customer Count: {{customer|length}}
            <br>
            <br>
            <a href="{% url 'create' %}" class="btn ">
                <button class="btn btn-outline-dark">
                    Add Customer</button>
            </a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">
                            User ID
                        </th>
                        <th scope="col">
                            User
                        </th>
                        <th scope="col">
                            Sex
                        </th>
                        <th scope="col">
                            Birthday
                        </th>
                        <th scope="col">
                            Nationality
                        </th>
                        <th scope="col">
                            Citizenship
                        </th>
                        <th scope="col">
                            Subscription
                        </th>

                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cust in customer %}
                    <tr>
                        <td>{{cust.id}}</td>
                        <td>{{cust.user}}</td>
                        <td>{{cust.sex}}</td>
                        <td>{{cust.birthday}}</td>
                        <td>{{cust.nationality}}</td>
                        <td>{{cust.citizenship}}</td>
                        <td>{{cust.is_subscribed}}</td>
                        <td>
                            <a href="{% url 'update' cust.id %}" class="btn btn-outline-dark">
                                Update
                            </a>
                        </td>
                        <td>
                            <form action="{% url 'delete' cust.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-dark">Delete</button>
                            </form>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}