{% extends 'markitten_app/index.html' %}
{% load static %} 

{% block content %}

    <!-- FAQ Header -->
    <div class="container-fluid pb-3 p-5 overflow-auto">
        <div style="text-align:center;">
            <h1>Frequently Asked Questions</h1>
        </div>
        <div class="row flex-grow-sm-1 flex-grow-0 p-5">
            <div class="col-md-6 flex-grow-sm-1  flex-grow-0 pb-sm-0 pb-3">
                <h5>What can I do in this CRM</h5>
                <p>
                    You can view and edit your personal information, as well as update your subscription to view our
                    monthly catalog.
                </p>
            </div>
            <div class="col-md-6 flex-grow-sm-1  flex-grow-0 pb-sm-0 pb-3">
                <h5>What can I do in this CRM</h5>
                <p>
                    You can view and edit your personal information, as well as update your subscription to view our
                    monthly catalog.
                </p>
            </div>
            <div class="col-md-6 flex-grow-sm-1  flex-grow-0 pb-sm-0 pb-3">
                <h5>What can I do in this CRM</h5>
                <p>
                    You can view and edit your personal information, as well as update your subscription to view our
                    monthly catalog.
                </p>
            </div>
            <div class="col-md-6 flex-grow-sm-1  flex-grow-0 pb-sm-0 pb-3">
                <h5>What can I do in this CRM</h5>
                <p>
                    You can view and edit your personal information, as well as update your subscription to view our
                    monthly catalog.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}