{% extends 'markitten_app/index.html' %}
{% load static %} 

{% block content %}

    <div class="row">
        <br>
        <h4 style="margin-left: 40px; margin-bottom: 40px;">
            <a href="{% url 'profile' %}" class="simpleLink" style="color: gray;">Profile ></a>
            Order History
        </h4>
        <div class="col-md-6" id="fade-in">
            <div class="row">
                <div class="col-md-4">
                    <img src="{% static 'images/sampleProfile.png' %}" alt="" width="240px">
                </div>
                <div class="col-md-8">
                    <h3>Product 1</h3>
                    <h5>P12, 500</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam eaque praesentium enim
                        reprehenderit voluptate minus. Quibusdam totam adipisci assumenda voluptates fugit reiciendis
                        voluptatem voluptatibus, ut necessitatibus quo ex eaque nam.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5" id="slide-in-left">
            <h4>Leave a Review</h4>
            <div id="rating_bar">
                <span id="rate_1"></span>
                <span id="rate_2"></span>
                <span id="rate_3"></span>
                <span id="rate_4"></span>
                <span id="rate_5"></span>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Upload any relevant images/file</label>
                        <input class="form-control" type="file" id="formFileMultiple" multiple>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top:10px">
                        <button class="btn btn-primary me-md-2" type="button">Submit Complaint</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr align="center" width="85%" style="margin-left: 5%; margin-top: 20px; margin-bottom: 20px;">

    <div class="row">
        <div class="col-md-6" id="fade-in">
            <div class="row">
                <div class="col-md-4">
                    <img src="{% static 'images/sampleProfile.png' %}" alt="" width="240px">
                </div>
                <div class="col-md-8">
                    <h3>Product 2</h3>
                    <h5>P12, 500</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam eaque praesentium enim
                        reprehenderit voluptate minus. Quibusdam totam adipisci assumenda voluptates fugit reiciendis
                        voluptatem voluptatibus, ut necessitatibus quo ex eaque nam.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5" id="slide-in-left">
            <h4>Leave a Review</h4>
            <div id="rating_bar">
                <span id="rate_1"></span>
                <span id="rate_2"></span>
                <span id="rate_3"></span>
                <span id="rate_4"></span>
                <span id="rate_5"></span>

            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Upload any relevant images/file</label>
                        <input class="form-control" type="file" id="formFileMultiple" multiple>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top:10px">
                        <button class="btn btn-primary me-md-2" type="button">Submit Complaint</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <hr align="center" width="85%" style="margin-left: 5%; margin-top: 20px; margin-bottom: 20px;">
    <br>
    <h4 style="margin-left: 40px" id="slide-in-left">Past Reviews</h4>
    <div class="row" id="fade-in">
        <div class="col-md-4">
            <img src="{% static 'images/waiting.png' %}" alt="" width="80%" style="margin-left: 10%;">
        </div>
        <div class="col-md-8">
            <h3 style="margin-left: 40px; margin-top: 70px;">Nothing to show yet.</h3>
            <p style="margin-left: 40px"><i>Kindly leave your first review to see your submitted reviews here!</i> </p>
        </div>
    </div>

{% endblock content %}