{% extends 'markitten_app/index.html' %}
{% load static %} 

{% block content %}
    
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="slide-in-left">
                <img src="{{prod.carousel_image_1.url}}" alt="" width="150" style="height: 300px; width: auto; border: 1px solid black">
            </div>
            <div class="col-md-5" id="slide-in-left" style="height: 300px;">
                <div style="margin: auto 20px auto 20px; position: absolute; top:50%; -ms-transform: translateY(-50%); transform: translateY(-50%);">
                    <h3 style="text-align: left;">{{prod.name}}</h3>
                    <p>{{prod.category.name}}</p>
                    <div>
                        {% if overall_rating == 0 %}
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                        {% elif overall_rating == 1 %}
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                        {% elif overall_rating == 2 %}
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                        {% elif overall_rating == 3 %}
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                        {% elif overall_rating == 4 %}
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                        {% elif overall_rating == 5 %}
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                        {% endif %}
                    </div>
                    <br>
                    <h5>${{prod.selling_price}}</h5>
                    <hr>
                    <label for="quantity">
                        <h5>Quantity: </h5>
                    </label>
                    <input type="number" id="quantity" name="quantity" min="1" max="50">
                    <br>
                    <button class="btn btn-primary" href="#" role="button" style="margin-top: 10px;" disabled>Buy
                        Now</button>
                    <button class="btn btn-primary" href="#" role="button" style="margin-top: 10px;" disabled>Add to
                        Cart</>
                </div> 
            </div>
            <div class="col-md-4" id="slide-in-left" style="height:300px; background-color: powderblue;">
                <div style="margin:20px;">
                    <h4>Have issues?</h4>
                    <p>File your complaint here.</p>
                    <hr>
                    <form action="">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <button class="btn btn-primary float-end" href="#" role="button" style="margin-top: 10px;" disabled>Submit Complaint</button>
                    </form>

                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <h5> Product Description</h5>
            <hr>
            <div style="height: 250px; overflow: hidden; overflow-y: scroll;">
                <p style="color: grey">{{prod.description}}</p>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-7" style="background-color: beige; padding: 15px; margin-left: 5px; margin-bottom: 30px;"
                    id="fade-in">
                    <!-- <hr align="left" width="100%" style="margin-top: 20px; margin-bottom: 20px;"> -->
                    <div>
                        Reviews ({{totalreviews}}) |
                        {% if overall_rating == 0 %}
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                        {% elif overall_rating == 1 %}
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                        {% elif overall_rating == 2 %}
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                        {% elif overall_rating == 3 %}
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                        {% elif overall_rating == 4 %}
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star" style="color: #ff9f43;"></i>
                        {% elif overall_rating == 5 %}
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                        {% endif %}
                        <!-- <button class="btn btn-primary" href="#" role="button" style="float: right;" disabled>Leave a
                            Review</button> -->
                    </div>
                    <hr align="left" width="100%" style="margin-top: 20px; margin-bottom: 20px;">
                    {% if comments is not None %}
                        <div class="scrollableReview">
                            <div class="row">
                                {% for comment in comments %}
                                    <br>
                                    <div class="col-md-1">
                                        <img src="{% static 'images/sampleProfile.png' %}" alt="" width="40"
                                            style="margin: 15px auto auto 20px;">
                                    </div>
                                    <div class=" col-md-11">
                                        <p style="float:right;"><i>{{comment.created_at}}</i></p>
                                        <h6>{{comment.user.username}}</h6>
                                        <div>
                                            {% if comment.rating == 1 %}
                                                <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                                                <i class="bi bi-star" style="color: #ff9f43;"></i>
                                                <i class="bi bi-star" style="color: #ff9f43;"></i>
                                                <i class="bi bi-star" style="color: #ff9f43;"></i>
                                                <i class="bi bi-star" style="color: #ff9f43;"></i>
                                            {% elif comment.rating == 2 %}
                                                <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                                                <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                                                <i class="bi bi-star" style="color: #ff9f43;"></i>
                                                <i class="bi bi-star" style="color: #ff9f43;"></i>
                                                <i class="bi bi-star" style="color: #ff9f43;"></i>
                                            {% elif comment.rating == 3 %}
                                                <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                                                <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                                                <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                                                <i class="bi bi-star" style="color: #ff9f43;"></i>
                                                <i class="bi bi-star" style="color: #ff9f43;"></i>
                                            {% elif comment.rating == 4 %}
                                                <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                                                <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                                                <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                                                <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                                                <i class="bi bi-star" style="color: #ff9f43;"></i>
                                            {% elif comment.rating == 5 %}
                                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                                            <i class="bi bi-star-fill" style="color: #ff9f43;"></i>
                                            {% endif %}
                                        </div>
                                        <p>{{comment.comment}}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <p>There are no reviews yet for this product.</p>
                    {% endif %}
            </div>
            <div class="col-4">
                <div class="card">
                    {% if request.user.is_authenticated %}
                    <form action="{% url 'addreview' prod.id %}" method="post">
                        {% csrf_token %}
                        {{commentform.user}}
                        {{commentform.prod}}
                        <h5 class="card-title">Rate the Product</h5>
                        <div class="container">
                            <div class="input-group">
                                <span class="col-sm-8">
                                    {{commentform.comment}}
                                </span>
                                <span class="input-group-text"><i
                                        class="fa-solid fa-star"></i></span>
                                    {{commentform.rating}}
                                
                            </div>
                        </div>
                        <div id="passwordHelpBlock" class="form-text" style="text-align:center;">
                            Please refrain using profane words.
                        </div>
                        <div class="d-flex flex-row justify-content-between mb-2">
                            <div>
                                <p><i class="bi bi-person-circle"></i> {{request.user.username}}</p>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary admin-button">Submit</button>
                            </div>
                        </div>
                        <br>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    

{% endblock content %}