<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css '%}">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
    <nav class="navbar navbar-light beige">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}" style="padding: 15px;">
                <!-- <img src="" alt="" width="70" height="24" class="d-inline-block align-text-top"> -->
                markitten
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active simpleLink aria-current=" page" href="{% url 'faq' %}"
                        style="padding: 15px;">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link simpleLink" href="{% url 'about' %}" style="padding: 15px;">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link simpleLink" href="{% url 'home' %}" style="padding: 15px;">Home</a>
                </li>
                <li class="nav-item">
                    <a href="profile.html">
                        <img src="{% static 'images/sampleProfile.png' %}" alt="" width="70px" height="60px">
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col-lg-4" id="fade-in" style="margin-left: 60px;">
            <div class="card" style="width: 20rem; background-color: beige; margin-left: 20px;">
                <img src="{% static 'images/sampleProfile.png' %}" alt="">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">Hello, Customer!</h5>
                    <h6 style="text-align: center">Bio</h6>
                    <p class="card-text" style="text-align: justify;">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus tempora amet
                        placeat mollitia esse tempore pariatur? Rem quod dolore iusto. </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="text-align: center;">
                        <a href="{% url 'changepassword' %}" class="simpleLink">
                            <i class="bi bi-file-earmark-lock"></i>
                            Change Password
                        </a>
                    </li>
                    <li class="list-group-item" style="text-align: center;">
                        <a href="{% url 'leavereview' %}" class="simpleLink">
                            <i class="bi bi-star-half"></i>
                            Submit a Review
                        </a>
                    </li>
                    <li class="list-group-item" style="text-align: center;">
                        <a href="leaveReview.html" class="simpleLink">
                            <i class="bi bi-exclamation-diamond-fill"></i>
                            <a href="{% url 'leavecomplaint' %}" class="simpleLink">
                                Submit a Complaint
                            </a>
                        </a>
                    </li>

                </ul>
                <!-- <div class="card-body">
                    <a href="Home.html" class="card-link simpleLink">
                        < View Monthly Catalog</a>
                </div> -->
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card" id="slide-in-left" style="background-color: beige; padding: 10px;">
                <div>
                    <button class="btn btn-primary" role="button" style="float: right; ">
                        <a href="{% url 'editprofile' %}" class="simpleLink">Edit
                            Details</a>
                    </button>
                    <h5 class="card-header">Personal Information</h5>
                </div>

                <div class="card-body">
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <div class="row pt-1">
                        <div class="col-6 mb-2">
                            <h6 style="display: inline;">Full Name: </h6>
                            <p class="text-muted" style="display: inline;">Ayato Yae Kamisato</p>
                        </div>
                        <div class="col-2 mb-2">
                            <h6 style="display: inline;">Sex: </h6>
                            <p class="text-muted" style="display: inline;">Male</p>
                        </div>
                        <div class="col-4 mb-2">
                            <h6 style="display: inline;">Nationality: </h6>
                            <p class="text-muted" style="display: inline;">Filipino</p>
                        </div>
                        <div class="col-6">
                            <h6 style="display: inline;">Birthday: </h6>
                            <p class="text-muted" style="display: inline;">January 01, 2003</p>
                        </div>
                        <div class="col-6">
                            <h6 style="display: inline;">Citizenship: </h6>
                            <p class="text-muted" style="display: inline;">Filipino</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="slide-in-left" style="background-color: beige; padding: 10px">
                <div>
                    <!-- <button class="btn btn-primary" href="#" role="button" style="float: right; ">Edit Details</button> -->
                    <h5 class="card-header">Addresses</h5>
                </div>
                <div class="card-body">
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <div class="col-12 mb-2">
                        <h6 style="display: inline;">Present: </h6>
                        <p class="text-muted" style="display: inline;">123 Liyue Village, Mihoyo Company</p>
                    </div>
                    <div class="col-12 mb-2">
                        <h6 style="display: inline;">Permanent: </h6>
                        <p class="text-muted" style="display: inline;">123 Liyue Village, Mihoyo Company</p>
                    </div>
                    <div class="col-12 mb-2">
                        <h6 style="display: inline;">Billing: </h6>
                        <p class="text-muted" style="display: inline;">123 Liyue Village, Mihoyo Company</p>
                    </div>
                    <div class="col-12 mb-2">
                        <h6 style="display: inline;">Shopping: </h6>
                        <p class="text-muted" style="display: inline;">123 Liyue Village, Mihoyo Company</p>
                    </div>
                    <div class="col-12">
                        <h6 style="display: inline;">Office: </h6>
                        <p class="text-muted" style="display: inline;">123 Liyue Village, Mihoyo Company</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="card" id="slide-in-left" style="background-color: beige; padding: 10px">
                        <div>
                            <!-- <button class="btn btn-primary" href="#" role="button" style="float: right; ">Edit
                                Details</button> -->
                            <h5 class="card-header">Contact Information</h5>
                        </div>
                        <div class="card-body">
                            <div class="row pt-1">
                                <div class="col-12 mb-2">
                                    <h6 style="display: inline;">Mobile Number: </h6>
                                    <p class="text-muted" style="display: inline;">09457325869</p>
                                </div>
                                <div class="col-12 mb-2">
                                    <h6 style="display: inline;">Landline Number: </h6>
                                    <p class="text-muted" style="display: inline;">09457325869</p>
                                </div>
                                <div class="col-12">
                                    <h6 style="display: inline;">Office Number: </h6>
                                    <p class="text-muted" style="display: inline;">09457325869</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card" id="slide-in-left" style="background-color: beige; padding: 10px">
                        <div>
                            <!-- <button class="btn btn-primary" href="#" role="button" style="float: right; ">Edit
                                Details</button> -->
                            <h5 class="card-header">Subscription</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    This box is checked if you signed up for subscription to view our monthly catalog.
                                    Please modify this option if necessary.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- SCROLL ANIMATION -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>