<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css '%}">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-light beige">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}" style="padding: 15px;">
                <!-- <img src="" alt="" width="70" height="24" class="d-inline-block align-text-top"> -->
                markitten
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active simpleLink aria-current=" page" href="{% url 'faq' %}"
                        style="padding: 15px;">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link simpleLink" href="{% url 'about' %}" style="padding: 15px;">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link simpleLink" href="{% url 'home' %}" style="padding: 15px;">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{%url 'profile'%}">
                        <img src="{{user.profile.image.url}}" alt="" width="70px" height="60px">
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-lg-4" id="fade-in">
                <div class="card" style="width: 20rem; background-color: beige; margin-left: 20px;">
                    <img src="{{user.profile.image.url}}" alt="" height="350px" width="auto">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Hello, {{user.username}}!</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="text-align: center;">
                            <a href="{% url 'editprofile' %}" class="simpleLink">
                                <i class="fa fa-edit"></i>
                                Edit Profile
                            </a>
                        </li>
                        <li class="list-group-item" style="text-align: center;">
                            <a href="{% url 'changepassword' %}" class="simpleLink">
                                <i class="bi bi-file-earmark-lock"></i>
                                Change Password
                            </a>
                        </li>
                        <li class="list-group-item" style="text-align: center;">
                            <a href="{% url 'leavereview' %}" class="simpleLink">
                                <i class="bi bi-star-half"></i>
                                Submit a Review
                            </a>
                        </li>
                        <li class="list-group-item" style="text-align: center;">
                            <a href="{% url 'leavecomplaint' %}" class="simpleLink">
                                <i class="bi bi-exclamation-diamond-fill"></i>
                                Submit a Complaint
                            </a>
                        </li>
                        <li class="list-group-item" style="text-align: center;">
                            <a href="{% url 'logout' %}" class="simpleLink">
                                <i class="fa fa-sign-out"></i>
                                Logout
                            </a>
                        </li>

                    </ul>
                    <!-- <div class="card-body">
                        <a href="Home.html" class="card-link simpleLink">
                            < View Monthly Catalog</a>
                    </div> -->
                </div>
                <!-- <img src="{% static 'images/waiting.png' %}" alt="" width="80%" style="margin-left: 10%;"> -->
            </div>
            <div class="col-lg-8">
                <form action="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card" id="slide-in-left" style="background-color: beige; padding: 10px;">
                        <div>
                            <!-- <button class="btn btn-primary" role="button" style="float: right; ">
                                <a href="{% url 'editprofile' %}" class="simpleLink">Edit
                                    Details</a>
                            </button> -->
                            <h5 class="card-header">Personal Information</h5>
                        </div>

                        <div class="card-body">
                            <!-- <h5 class="card-title">Special title treatment</h5                                           > -->
                            <div class="row pt-1">
                                <div class="col-5 mb-2">
                                    <label for="floating-input" class="form-label">Full Name</label>
                                    {{u_form.username}}
                                </div>
                                <div class="col-3 mb-2">
                                    <label for="floating-input" class="form-label">Sex</label>
                                    <p class="text-muted">{{p_form.sex}}</p>
                                </div>
                                <div class="col-4 mb-2">
                                    <label for="floating-input" class="form-label">Nationality</label>
                                    {{p_form.nationality}}
                                </div>
                                <div class="col-6">
                                    <label for="floating-input" class="form-label">Birthday</label>
                                    {{p_form.birthday}}
                                </div>
                                <div class="col-6">
                                    <label for="floating-input" class="form-label">Citizenship</label>
                                    {{p_form.citizenship}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="slide-in-left" style="background-color: beige; padding: 10px">
                        <div>
                            <!-- <button class="btn btn-primary" href="#" role="button" style="float: right; ">Edit Details</button> -->
                            <h5 class="card-header">Addresses</h5>
                        </div>
                        <div class="card-body">
                            <!-- <h5 class="card-title">Special title treatment</h5> -->
                            <!-- <div class="col-12 mb-2">
                            <h6 style="display: inline;">Present: </h6>
                            <p class="text-muted" style="display: inline;">{{user.present_address}}</p>
                        </div>
                        <div class="col-12 mb-2">
                            <h6 style="display: inline;">Permanent: </h6>
                            <p class="text-muted" style="display: inline;">{{user.permanent_address}}</p>
                        </div>
                        <div class="col-12 mb-2">
                            <h6 style="display: inline;">Billing: </h6>
                            <p class="text-muted" style="display: inline;">{{user.billing_address}}</p>
                        </div>
                        <div class="col-12 mb-2">
                            <h6 style="display: inline;">Shopping: </h6>
                            <p class="text-muted" style="display: inline;">{{user.shopping_address}}</p>
                        </div>
                        <div class="col-12">
                            <h6 style="display: inline;">Office: </h6>
                            <p class="text-muted" style="display: inline;">{{user.office_address}}</p>
                        </div> -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-12 mb-2">
                                        <label for="floating-input" class="form-label">Present</label>
                                        {{p_form.present_address}}
                                    </div>
                                    <div class="col-12 mb-2">
                                        <label for="floating-input" class="form-label">Permanent</label>
                                        {{p_form.permanent_address}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-12 mb-2">
                                        <label for="floating-input" class="form-label">Billing</label>
                                        {{p_form.billing_address}}
                                    </div>
                                    <div class="col-12 mb-2">
                                        <label for="floating-input" class="form-label">Shopping</label>
                                        {{p_form.shopping_address}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card" id="slide-in-left" style="background-color: beige; padding: 10px">
                                <div>
                                    <!-- <button class="btn btn-primary" href="#" role="button" style="float: right; ">Edit
                                    Details</button> -->
                                    <h5 class="card-header">Contact Information</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row pt-1">
                                        <div class="col-md-4">
                                            <label for="floating-input" class="form-label">Mobile Number</label>
                                            {{p_form.mobile_number}}
                                        </div>
                                        <div class="col-md-4">
                                            <label for="floating-input" class="form-label">Landline Number</label>
                                            {{p_form.landline_number}}
                                        </div>
                                        <div class="col-md-4">
                                            <label for="floating-input" class="form-label">Office Number</label>
                                            {{p_form.office_number}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" id="slide-in-left" style="background-color: beige; padding: 10px">
                                <div>
                                    <!-- <button class="btn btn-primary" href="#" role="button" style="float: right; ">Edit
                                    Details</button> -->
                                    <h5 class="card-header">Subscription</h5>
                                </div>
                                <div class="card-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                            disabled readonly>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            This box is checked in order to subscribe to our catalog.
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- SCROLL ANIMATION -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>