html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.beige {
  background-color: beige;
}

#spaced-up-mid {
  padding-top: 100px;
}

#spaced-up-large {
  padding-top: 75px;
}

#padded-bot {
  margin-bottom: 90px;
}

.vertical-center {
  margin: 0;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#curvedButton {
  padding: 4px 10px;
  border-radius: 10px;
  text-decoration: none;
}

.side-nav {
  margin: 50px 20px 50px 50px;
  padding: 20px;
  line-height: 50px;
}

.card {
  margin: 10px 0 10px 0;
}

.simpleList {
  list-style: none;
}

.simpleLink {
  text-decoration: none;
  color: inherit;
}
